@import '../../../../assets/css/mixin';

.main-header {
	$p: &;

	&--rela-second {
		max-width: 100%;
		margin: auto;
		color: var(--c-light);

		#{$p}__main-line {
			display: grid;
			grid-template-columns: 1fr 9fr 1fr;
			align-items: center;
			padding: 0 20px;
			margin: auto;

			@include md-size-max {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
		#{$p}__mob_menu_title {
			@include md-size-min {
				display: none;
			}
			position: absolute;
			padding-left: 20px;
			top: 17px;
			color: var(--c-dark);
		}
		#{$p}__logo {
			display: flex;
			align-items: center;
			padding: 20px 0 17px;
			@include md-size-max {
				order: 3;
				justify-content: center;
				padding: 20px 0;
			}
			//span{
			//	font-size: 30px;
			//	color: var(--c-dark);
			//	font-weight: 700;
			//}
			.aheto-logo__image-mob-scroll,
			.aheto-logo__image-scroll {
				display: none;
			}
			.mob-logo {
				@include md-size-min {
					display: none;
				}
				&-scroll {
					display: none;
				}
			}
			img:not(.mob-logo) {
				@include md-size-max {
					display: none;
				}
			}

			.aheto-logo__image {
				max-height: 65px;
				width: auto;
			}
		}
		#{$p}__widget-box {
			display: flex;
			align-items: center;
			padding: 20px 0;
			@include sm-size-max {
				padding: 10px 0;
			}
			a{
				white-space: nowrap;
				margin-left: 26px;
				&:not(:first-of-type){
					margin-left: 50px;
					@include lg-size-max{
						margin-left: 30px;
					}
				}
			}

			&-mobile,
			&-desktop{
				#{$p}__widget-box--search{
					color: var(--c-dark);
					padding: 0;
					&:hover {
						color: var(--c-alter);
					}
					//i {
					//	font-size: 138%;
					//}
				}
			}
			&-desktop{
				display: flex;
				align-items: center;
				& div {
					margin: -8px -13px;
				}
				.aheto-btn--scrolled {
					display: none;
				}

				@include md-size-max {
					display: none;
				}
			}
			&-mobile{
				margin: -8px 0px;
				padding: 30px 8px 15px;
				justify-content: space-between;
				align-items: center;
				display: flex;
				@include md-size-min {
					display: none;
				}
			}
		}
		#{$p}__menu-box {
			justify-self: end;
			max-width: 1170px;
			width: 100%;
			@include md-size-min {
				display: block!important;
				.btn-close {
					display: none;
				}
			}
			@include md-size-max {
				width: 320px;
				position: fixed;
				padding-top: 80px;
				top: 0;
				left: -320px;
				overflow-y: auto;
				background-color: var(--c-light);
				flex-direction: column;
				transition: 0.35s;
				.btn-close {
					display: none;
					position: absolute;
					padding: 20px;
					top: 0;
					right: 0;
					width: 100%;
					text-align: right;
					border-bottom: 1px solid rgba(var(--ca-dark), 0.1);
					cursor: pointer;
					//font-size: 18px;
					i {
						line-height: 1;
						padding-left: 5px;
						font-size: 1.7rem;
					}
				}

				&.menu-open {
					left: 0;
					z-index: 9999;
					.btn-close {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						color: var(--c-dark);
					}
				}
			}

			> ul,
			.main-menu {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 0;
				justify-content: flex-end;
				margin-right: 15px;
				align-items: center;
				position: relative;
				@include md-size-max {
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					padding: 15px 20px 0 20px;
				}
				@include lg-size-max {
					margin-right: 0;
				}

				@include md-size-min {
					& > li:last-child {
						& > .sub-menu {
							left: auto;
							right: 0;
						}
					}
				}

				ul {
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 1;
					padding: 21px 0;
					transition: all 0.15s;
					white-space: nowrap;
					@include md-size-min {
						opacity: 0;
						visibility: hidden;
						background-color: var(--c-light);
						border: 1px solid rgba(var(--ca-dark),.1);
					}
					@include md-size-max {
						padding: 0;
						position: static;
						box-shadow: none;
						display: none;
						transition: none;
					}
					li {
						min-width: 260px;
						padding: 6px 20px;

						@include md-size-min {
							display: flex;
							justify-content: space-between;
							align-items: center;
						}

						@include md-size-max {
							padding: 5px 0 0 30px;
							//line-height: 1.3;
						}

						a {
							white-space: normal;
							//font-size: 75%;
							//letter-spacing: 2.1px;
						}
						& > .dropdown-btn {
							@include md-size-min {
								color: var(--c-dark);
							}
						}

						&.current-menu-item,
						&.current-menu-parent,
						&:hover {
							& > a {
								color: var(--c-alter);
							}
							& > ul {
								left: auto;
								right: 100%;
							}
						}

						&:not(.menu-item-has-children) {
							@include md-size-min {
								transition: all .15s ease;
								&:before {
									position: absolute;
									content: "\24";
									font-family: 'ElegantIcons';
									left: 0px;
									opacity: 0;
									top: 54%;
									transform: translateY(-50%);
									color: var(--c-alter);
									transition: all .2s ease;
								}

								&:hover {
									padding-left: 40px;
									padding-right: 5px;
									& > a {
										color: var(--c-alter);
									}
									&:before {
										left: 20px;
										opacity: 1;
									}
								}
							}
						}
					}
					ul {
						top: -22px;
						left: auto;
						right: 100%;
					}
				}
				li {
					padding: 15px 5px;
					position: relative;
					@include md-size-max {
						width: 100%;
						padding: 10px 0 0;
					}
					&:hover {
						& > ul {
							left: 0;
							visibility: visible;
							opacity: 1;
							@include md-size-min {
								background-color: var(--c-light);
								color: var(--c-dark);
							}
						}
						& > .dropdown-btn {
							color: var(--c-alter);
						}
					}
					a {
						//font-size: 93%;
						//font-weight: 500;
						//text-transform: uppercase;
						//letter-spacing: 3.9px;
						@include md-size-max {
							color: var(--c-grey);
							&:hover{
								color: var(--c-alter);
							}
						}
						* {
							font-weight: inherit;
						}
					}
				}
				& > li {
					//margin: 0 20px;
					margin: 0 26px;
					padding: 20px 0;
					position: relative;
					transition: all .3s ease;
					@media screen and (max-width: 1440px){
						margin: 0 15px;
						padding: 15px 0;
					}
					@include md-size-max {
						margin: 0;
						padding: 5px 0;
					}
					&.current-menu-item,
					&.current-menu-parent,
					&:hover {
						& > a {
							color: var(--c-alter);
						}
					}
				}



				//mega-menu
				& > .menu-item {
					&--mega-menu {
						@include md-size-min {
							position: static;
						}
						&:hover {
							.mega-menu {
								@include md-size-min {
									opacity: 1;
									visibility: visible;
									height: auto;
									overflow: visible;
									padding: 25px 10px;
								}
							}
						}
						.mega-menu {
							@include md-size-min {
								display: flex;
								position: absolute;
								left: 50%;
								top: 100%;
								background: var(--c-light);
								width: 100%;
								box-shadow: 0 10px 50px 0 rgba(var(--ca-dark), .06);
								visibility: hidden;
								opacity: 0;
								padding: 0;
								height: 0;
								overflow: hidden;
								transition: opacity .3s ease;
								border: 1px solid rgba(var(--ca-dark),.1);
								z-index: 999;
								transform: translateX(-50%);
								ul {
									border: none;
									&:after {
										display: none;
									}
								}
							}
							@include md-size-max {
								display: none;
								&.current-sub-open {
									height: auto;
									opacity: 1!important;
									visibility: visible!important;
									.mega-menu__list {
										visibility: visible!important;
										opacity: 1!important;
										height: auto;
									}
								}
							}
							&__col {
								@include md-size-min {
									&:first-child {
										padding: 0 0 0 27px;
									}
									padding: 0 0 0 37px;
									flex: 1 1 0;
									border-left: 1px solid rgba(var(--ca-dark), .15);
									&:first-of-type {
										border-left: none;
									}
									&:not(:last-of-type) {
										position: relative;
									}
								}
								.dropdown-btn {
									@include md-size-min {
										display: none;
									}
									@include md-size-max {
										padding-top: 10px;
									}
								}
								&:first-child {
									@include md-size-max {
										.mega-menu__title {
											padding-top: 13px;
										}
									}
									.dropdown-btn {
										padding-top: 15px;
									}
								}
							}

							&__title {
								color: var(--c-active);
								//letter-spacing: 3.6px;
								//text-transform: uppercase;
								//font-size: 86%;
								@include md-size-max {
									padding: 6px 2px 0 22px;
									display: inline-block;
									transition: none;
									visibility: visible;
									opacity: 1;
									color: var(--c-dark);
									//font-weight: 500;
								}
							}
							&__list {
								@include md-size-min {
									visibility: visible;
									opacity: 1;
									box-shadow: none;
									position: relative;
									top: 0;
									padding: 16px 0 0;
								}
								@include md-size-max {
									transition: none;
									padding: 0 0 0 30px;
								}
								li {
									@include md-size-min {
										min-width: 1px;
										padding: 5px 25px 5px 0;

										&:before {
											left: -20px;
										}

										&:hover {
											padding-left: 22px;
											padding-right: 5px;
											& > a {
												color: var(--c-alter);
											}
											&:before {
												left: 0;
											}
										}
									}
									@include md-size-max {
										white-space: initial;
									}
								}
							}
						}
					}
				}
				//	mega-menu


			}
		}
		#{$p}__hamburger {
			display: none;
			padding: 12px;
			cursor: pointer;
			transition-property: opacity, filter;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			font: inherit;
			color: inherit;
			background-color: transparent;
			border: 0;
			margin: 0 -12px 0 0;
			overflow: visible;
			.hamburger {
				&-box {
					position: relative;
					width: 18px;
					height: 14px;
					display: inline-block;
					vertical-align: middle;
				}
				&-inner {
					width: 24px;
					height: 2px;
					background-color: var(--c-dark);
					border-radius: 1.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition-property: transform;
					transition-duration: 0.075s;
					transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
					&::before,
					&::after {
						content: "";
						display: block;
						width: 18px;
						height: 2px;
						background-color: var(--c-dark);
						border-radius: 1.5px;
						position: absolute;
						transition-property: transform;
						transition-duration: 0.15s;
						transition-timing-function: ease;
						@include md-size-max {
							background-color: var(--c-dark);
						}
					}
					&::before {
						top: -8px;
					}
					&::after {
						bottom: -8px;
					}
				}
			}

			&.is-active{
				.hamburger-inner{
					background: transparent;
					&::before{
						top: 0;
						transform: rotate(-45deg);
					}
					&::after{
						transform: rotate(45deg);
						bottom: 0;
					}
				}
			}

			@include md-size-max {
				display: flex;
			}
		}
		.dropdown-btn {
			display: inline-block;
			padding-left: 10px;
			white-space: normal;
			vertical-align: middle;
			cursor: pointer;
			//font-size: 7px;
			@media screen and (max-width: 1500px){
				padding-left: 5px;
			}
			@include md-size-max {
				float: right;
				padding-top: 6px;
				color: var(--c-dark);
			}
			&:before {
				display: inline-block;
				font-family: 'Ionicons';
				content: '\f123';
				vertical-align: middle;
				//font-weight: 500;
			}

			&.is-active {
				&:before {
					transform: rotate(-180deg);
				}
			}
		}


		&.transparent_dark {
			background: transparent;
		}

		&.transparent_white {
			background: transparent;
			color: var(--c-light);
			#{$p}__logo {
				span {
					color: var(--c-light);
				}
			}
			#{$p}__widget-box-desktop{
				#{$p}__widget-box--search{
					color: var(--c-light);
				}
			}
			#{$p}__hamburger {
				&.is-active .hamburger-inner {
					background: transparent;
				}
				.hamburger-inner {
					background: var(--c-light);
					&::after,
					&::before {
						background: var(--c-light);
					}
				}
			}

			#{$p}__menu-box {
				.main-menu,
				> ul {
					> li {
						> a {
							color: var(--c-light);
							@include md-size-max {
								color: var(--c-dark);
							}
						}
						> .dropdown-btn {
							@include md-size-max {
								color: var(--c-dark);
							}
						}

						&:hover > a,
						&:hover > .dropdown-btn {
							color: var(--c-alter);
						}

						&.current-menu-item,
						&.current-menu-parent {
							& > a {
								color: var(--c-alter);
							}
							& > .dropdown-btn {
								color: var(--c-alter);
							}
						}
					}
				}
			}
		}
	}
}



.aheto-header--fixed.header-scroll {

	.main-header--rela-second {

		box-shadow: 0 10px 50px 0 rgba(var(--ca-dark), 0.06);

		.aheto-logo__image-mob-scroll,
		.aheto-logo__image-scroll {
			display: none;
		}

		.aheto-logo__image {
			@include md-size-min {
				display: none;
			}
			&-scroll {
				@include md-size-min {
					display: block;
				}
			}

			&.mob-logo {
				@include md-size-max {
					display: none;
				}
			}

			&-mob-scroll.mob-logo {
				@include md-size-max {
					display: block;
				}
			}
		}

		.main-header__hamburger {
			&.is-active .hamburger-inner {
				background: transparent;
			}
			.hamburger-inner {
				background: var(--c-dark);
				&::after,
				&::before {
					background: var(--c-dark);
				}
			}
		}
		&.transparent_dark {
			@include md-size-min {
				background: var(--c-light);
			}
		}
		&.transparent_white {
			background: var(--c-light);
			color: var(--c-dark);
			.main-header__logo {
				span {
					color: var(--c-dark);
				}
			}
			.main-header__widget-box-desktop{
				.main-header__widget-box--search{
					color: var(--c-dark);
				}
				.aheto-btn--nonscrolled {
					display: none;
				}
				.aheto-btn--scrolled {
					display: block;
				}
			}
			.main-header__menu-box {
				.main-menu,
				> ul {
					> li {
						> a {
							color: var(--c-dark);
						}

						&.current-menu-item,
						&.current-menu-parent,
						&:hover {
							& > a {
								color: var(--c-alter);
								opacity: 1;
							}
							& > .dropdown-btn {
								color: var(--c-alter);
							}
						}
					}
				}
			}
		}
	}
}